*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color:rgb(33, 177, 177) ;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo > img{
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



a{
    text-decoration: none;
    color: brown;
}

nav > a{
    font-weight: 700; /* negrita */
    padding-right: 20px;
}

nav a:hover{
    color: cornflowerblue;
}

@media (max-width:500px){
    header{
        flex-direction: column;
    }
    a{
        color:burlywood
    }
    h2{
        color:rgb(16, 187, 178)
    }
}
.text{
    text-decoration: none;
    margin: 30px 30px 30px 30px;
}

.hb{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: blue;
}

.text > h2{
    text-align: left;
    background-color:rgb(255, 255, 255);
    color: rgb(11, 11, 14);
    margin: 40px 30px 0 30px;
}

.ma > img{
    float: right;
    height: 15%;
    width: 25%;
}
.lt{
    margin: 180px 30px 0 30px;
}

.pa{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: blue;
}

.lt > h2{
    text-align: left;
    background-color:rgb(255, 255, 255);
    color: rgb(11, 11, 14);
    margin: 40px 30px 0 30px;
}

.mb{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: blue;
}

.mb > img{
    float: left;
    height: 15%;
    width: 25%;
    margin: 10px 20px 10px 30px;
}
.pt{
    margin: 180px 30px 0 30px;
}

.pt > h2{
    text-align: left;
    background-color:rgb(255, 255, 255);
    color: rgb(1, 1, 5);
    margin: 40px 30px 0 30px;
}

.pc{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: blue;
}

.mc > img{
    float: right;
    height: 30%;
    width: 35%;
    margin: 10px 20px 10px 30px;
}

.pie{
    background-color: darkgoldenrod;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 3px solid rgb(226, 192, 38);
    align-items: center;
    text-align: center;
    margin: 130px 0 0 0;
}