*{
    margin: 0;
}

html{
    background-color: rgb(58, 228, 240);
}
.menu{
    background-color: rgb(230, 233, 76);
    text-align: center;
    margin: 0px;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 30px;
    color: rgb(44, 115, 248);
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(214, 218, 23);
    font-size: large;
}

.central{
    background-color: rgb(248, 113, 63);
    color: blanchedalmond;
    text-align: center;
    overflow: hidden; /* quistar el espacio suprimido*/
    padding: 40px;
}

.contorno{
    background-color: rgb(186, 204, 209);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(179, 182, 181);
    /* somb-x / somb-y / desenf-radio / color */
    text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
    padding: 40px;
}

.foto{
    width: 85%;
    height: 100%;
    margin: 0 220px 0 240px;
    /* background-color: #bbb; */
    float: left 60%;
}

.foto img{
    width: 80%;
    height: 90%;
    /* la imagen se ajusta al contenido */
    object-fit: contain;
    /*mover la imagen dentro de un contenico*/
    object-position: 20px 25px 25px 20px;
}

.caption{
    font-size: 20px;
    color: blueviolet;
    caption-side: bottom;
    border: 2px solid chocolate;
}
table{
    /* para cambiar el tamaño de las columnas */
    /* table-layout: auto; width: 60%;
    margin: 0 30px 0 30px;
    table-layout: fixed; width: 100%; */
    width: 75%;
    margin: 0 auto;
}

.cabeza td{
    background-color: goldenrod;
    color: blueviolet;
}

td, tr{
    width: 25%;
    text-align: center;
    /* solid=linea entera; dashed=linea entercortada; dotted=puntos lineales */
    border: 1px solid coral;
}

.fotos h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.turismo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.postal{
    padding: 0 20px 20px;
}

.postal img{
    width: 250px;
}

img:hover{
    opacity: .8;
    transition: 7s;
}

.pie{
    background-color: darkgoldenrod;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: 3px solid rgb(226, 192, 38);
    align-items: center;
    text-align: center;
}